.btnchat{
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 20%;
    background-color: slateblue;
}

#chatbox{
    display:none;
    border: 3px solid #f1f1f1;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 9;
}

.msgbox{
    max-width: 300px;
    padding: 10px;
    background: white;
}

.msgbox textarea{
    width: 100%;
    min-height: 200px;
    border: none;
    resize: none;
    padding: 10px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    font-size: 20px;
}

.msgbox textarea:focus{
    background:  #ddd;
    outline: none;
}

.btnsend {
    cursor: pointer;
    /* padding:; */
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    /* opacity: 0.9; */
    background-color: lightblue;
    border-radius: 10px;
}

.btnclose{
    cursor: pointer;
    /* font-size: 18px; */
    /* margin: 0px; 
    border: none; */
    /* width: 100%; */
    background-color: red;
    position: absolute;
    padding: 10px 10px;
    top: 6%;
    right: 0%;
    border: none;
    border-radius: 5px;

    
    
}

/* .btnsend, .btnclose, .btnchat:hover{
    opacity: 1;
} */

h2{
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}

